//
//  Config.xcconfig
//  ReactNativeBase
//
//  Created by Bách VQ on 20/11/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//#include? "tmp.xcconfig"
APP_BUNDLE_ID=dev.baveku.carwi.dev
APP_NAME=CarWiDev
APP_VERSION=1.0.0
APP_BUILD_NUMBER=1

FIRName=GoogleService-Info-Dev

//# FACEBOOK
FB_APP_ID=927799228109256
FB_SCHEME=fb927799228109256
FB_CLIENT_TOKEN=0b098c9ac55f1632f74cbc23d0868fa0
FB_APP_NAME=CarWiDev
