<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421553940051-qtrl3te3hvlueuoq9urnn5jtt6bpdu0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421553940051-qtrl3te3hvlueuoq9urnn5jtt6bpdu0i</string>
	<key>API_KEY</key>
	<string>AIzaSyDQnNTyAm6hcGwPEvZ0vMPnjkB7E0srOGY</string>
	<key>GCM_SENDER_ID</key>
	<string>421553940051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.josbach.coinchecker.dev</string>
	<key>PROJECT_ID</key>
	<string>beautiphutdev</string>
	<key>STORAGE_BUCKET</key>
	<string>beautiphutdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421553940051:ios:8ef6949c82b0ce19ef08a6</string>
</dict>
</plist>