<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013991820949-2vtqiibv8ju7ibsce7qv9l9uq0ei81hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013991820949-2vtqiibv8ju7ibsce7qv9l9uq0ei81hm</string>
	<key>API_KEY</key>
	<string>AIzaSyDoSCOnN4-UpL9AklvHQtTNCjXwbWTYsUk</string>
	<key>GCM_SENDER_ID</key>
	<string>1013991820949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.josbach.beautiphut</string>
	<key>PROJECT_ID</key>
	<string>beautiphut</string>
	<key>STORAGE_BUCKET</key>
	<string>beautiphut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013991820949:ios:da1ece024605e98fbfd59c</string>
</dict>
</plist>